<a href="https://colab.research.google.com/github/Prakhar14Kumar/Logistic_regression_using_ML/blob/main/Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install imblearn

Requirement already satisfied: imblearn in /usr/local/lib/python3.10/dist-packages (0.0)
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.10/dist-packages (from imblearn) (0.12.4)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from imbalanced-learn->imblearn) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from imbalanced-learn->imblearn) (1.13.1)
Requirement already satisfied: scikit-learn>=1.0.2 in /usr/local/lib/python3.10/dist-packages (from imbalanced-learn->imblearn) (1.5.2)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from imbalanced-learn->imblearn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from imbalanced-learn->imblearn) (3.5.0)

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import precision_recall_curve
from sklearn.model_selection import train_test_split,KFold,cross_val_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import (accuracy_score,confusion_matrix,classification_report,roc_auc_score,roc_curve,auc,ConfusionMatrixDisplay,RocCurveDisplay)
from statsmodels.stats.outliers_influence import variance_inflation_factor
from imblearn.over_sampling import SMOTE

In [8]:
data=pd.read_csv(r"/content/logistic_regression.csv")
data.head()

   loan_amnt        term  ...  pub_rec_bankruptcies                                            address
0    10000.0   36 months  ...                   0.0     0174 Michelle Gateway\r\nMendozaberg, OK 22690
1     8000.0   36 months  ...                   0.0  1076 Carney Fort Apt. 347\r\nLoganmouth, SD 05113
2    15600.0   36 months  ...                   0.0  87025 Mark Dale Apt. 269\r\nNew Sabrina, WV 05113
3     7200.0   36 months  ...                   0.0            823 Reid Ford\r\nDelacruzside, MA 00813
4    24375.0   60 months  ...                   0.0             679 Luna Roads\r\nGreggshire, VA 11650

[5 rows x 27 columns]

In [10]:
print("No. of rows :", data.shape[0])
print("No. of column :", data.shape[1])

No. of rows : 396030
No. of column : 27

In [13]:
#checking distribution of
data['loan_status'].value_counts(normalize=True) * 100

loan_status
Fully Paid     80.387092
Charged Off    19.612908
Name: proportion, dtype: float64

In [14]:
data.describe(include='all')

            loan_amnt        term  ...  pub_rec_bankruptcies                      address
count   396030.000000      396030  ...         395495.000000                       396030
unique            NaN           2  ...                   NaN                       393700
top               NaN   36 months  ...                   NaN  USCGC Smith\r\nFPO AE 70466
freq              NaN      302005  ...                   NaN                            8
mean     14113.888089         NaN  ...              0.121648                          NaN
std       8357.441341         NaN  ...              0.356174                          NaN
min        500.000000         NaN  ...              0.000000                          NaN
25%       8000.000000         NaN  ...              0.000000                          NaN
50%      12000.000000         NaN  ...              0.000000                          NaN
75%      20000.000000         NaN  ...              0.000000                          NaN
max      40000.000000         NaN  ...              8.000000                          NaN

[11 rows x 27 columns]

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396030 entries, 0 to 396029
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   loan_amnt             396030 non-null  float64
 1   term                  396030 non-null  object
 2   int_rate              396030 non-null  float64
 3   installment           396030 non-null  float64
 4   grade                 396030 non-null  object
 5   sub_grade             396030 non-null  object
 6   emp_title             373103 non-null  object
 7   emp_length            377729 non-null  object
 8   home_ownership        396030 non-null  object
 9   annual_inc            396030 non-null  float64
 10  verification_status   396030 non-null  object
 11  issue_d               396030 non-null  object
 12  loan_status           396030 non-null  object
 13  purpose               396030 non-null  object
 14  title                 394274 non-null  object
 15  dti                   396030 non-null  float64
 16  earliest_cr_line      396030 non-null  object
 17  open_acc              396030 non-null  float64
 18  pub_rec               396030 non-null  float64
 19  revol_bal             396030 non-null  float64
 20  revol_util            395754 non-null  float64
 21  total_acc             396030 non-null  float64
 22  initial_list_status   396030 non-null  object
 23  application_type      396030 non-null  object
 24  mort_acc              358235 non-null  float64
 25  pub_rec_bankruptcies  395495 non-null  float64
 26  address               396030 non-null  object
dtypes: float64(12), object(15)
memory usage: 81.6+ MB

In [17]:
data.unstack()

loan_amnt  0                                                   10000.0
           1                                                    8000.0
           2                                                   15600.0
           3                                                    7200.0
           4                                                   24375.0
                                           ...
address    396025     12951 Williams Crossing\r\nJohnnyville, DC 30723
           396026    0114 Fowler Field Suite 028\r\nRachelborough, ...
           396027    953 Matthew Points Suite 414\r\nReedfort, NY 7...
           396028    7843 Blake Freeway Apt. 229\r\nNew Michael, FL...
           396029        787 Michelle Causeway\r\nBriannaton, AR 48052
Length: 10692810, dtype: object